.container {
    width: 65%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 25px 0 10px 0;
    font-size: 2rem;
    color: #000000;
}

.slideContainer {
    position: relative;
}

.slideItem {
    width: 650px;
    height: 350px; 
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    display: block;
    margin: 0 auto;
    object-fit: cover;
}

.legenda {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 1.6rem;
    text-align: center;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}