.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #020c17;
    color: #f3f0f0;
}

.header nav a {
    margin: 0 10px;
    color: #085913;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: underline;
}